html {
    background-color: #c7c3ed;
    display: flex;
    justify-content: center;
}

body {
    margin: 1% auto;
    background-color: #f9f6ff;
    box-shadow: 5px 5px 10px #5a4f96;
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
    max-width: 1300px;
}

header {
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-family: "Ubuntu";
    margin: 0;
    color: #321477;
}

label {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
    color: #2a0a5a;
    margin: 15px 0;
}

select {
    font-family: "Ubuntu";
    color: #2a0a5a;
    border-color: #2a0a5a;
    border-radius: 5px;

}

option {
    font-family: "Ubuntu";
}

span {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: bold;
    color: #2a0a5a;
}

#configs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#measurements {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.measurement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #b4aeeebb;
    padding: 5px;
    box-shadow: 3px 3px 5px #665f8b;
    border-radius: 20px;
    margin: 5px;
}

.property * {
    margin: 4px;
}

.property {
    margin-left: 10px;
    margin-right: 10px;
}